{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="/static/styles/register.css">
{% endblock head %}
{% block content %}
<h1>worker.coop</h1>
<p class="important">
    Welcome!
</p>
<section class="register login">
    <h2>Login or Register</h2>
    <form hx-target=".form-response">
        <input class="username" type="text" name="username" placeholder="username">
        <input class="password " type="password" name="password" placeholder="password">
        <button hx-post="/auth/password/register" hx-ext="json-enc" class="register">Register</button>
        <button hx-post="/auth/password/login" hx-ext="json-enc" class="login">Login</button>
    </form>
    <div class="form-response"></div>
</section>
{# disabled until passkey registration is implemented
<script type="text/javascript" src="/static/scripts/register.js"></script> #}
{% endblock content %}